<?xml version="1.0" encoding="UTF-8"?>

<plugin id="grabber-vsetv"
        version="2"
        class="freeguide.plugins.grabber.vsetv.GrabberVsetv">

  <name lang="be">Всё ТВ</name>
  <description lang="be">Праграма тэлебачання з http://www.vsetv.com</description>
  <name lang="en">Vsetv.com</name>
  <description lang="en">Grabber for http://www.vsetv.com</description>
  <name lang="fr">Vsetv.com</name>
  <description lang="fr">Aspirateur pour http://www.vsetv.com</description>

  <files>
    <file path="lib/grabber-vsetv.jar"/>
    <file path="lib/"/>
  </files>
</plugin>
