<?xml version="1.0" encoding="UTF-8"?>

<plugin id="grabber-xmltv" 
        version="0.1" 
	    class="freeguide.plugins.grabber.xmltv.GrabberXMLTV">

    <name lang="en">XMLTV</name>
    <description lang="en">XMLTV grabber (http://xmltv.sf.net)</description>

  <files>
  	<file path="lib/grabber-xmltv.jar"/>
  </files>
</plugin>
