#!/usr/bin/make -f

build: build-stamp
build-stamp:
	rm -f doc/html-local/{README.html,developers-*.html}
	ant
	touch $@

install: build
	dh_clean -k
	ant -DDESTDIR=debian/tmp install-linux-destdir
	rm debian/tmp/usr/share/doc/freeguide/COPYING
	cp debian/freeguide.xpm debian/tmp/usr/share/pixmaps/

clean:
	rm -f build-stamp
	dh_clean
	ant clean

binary-indep binary: install
	dh_install -i --sourcedir=debian/tmp
	dh_installchangelogs -i
	dh_installdocs -i
	dh_installman -i
	dh_installmenu -i
	dh_installdeb -i
	dh_compress -i
	dh_fixperms -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch:

.PHONY: build clean install binary-indep binary-arch binary
