#!/usr/bin/make -f

build: build-stamp
build-stamp:
	ant FreeGuide-Linux-NoXMLTV
	touch build-stamp

clean:
	rm -f build-stamp FreeGuide.jar freeguide.png
	ant clean
	dh_clean

binary-indep: build
	dh_clean -k
	cp src/images/logo-256x256.png freeguide.png
	cp dist/FreeGuide-*.jar FreeGuide.jar
	dh_install -i
	dh_installdocs -i
	dh_installman -i
	dh_installchangelogs -i
	dh_compress -i
	dh_fixperms -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch:

binary: binary-indep binary-arch

.PHONY: build clean install binary-indep binary-arch binary
