<?xml version="1.0" encoding="UTF-8"?>

<plugin id="reminder-alarm" 
        version="0.1" 
	    class="freeguide.plugins.reminder.alarm.AlarmReminder">
	    
    <name lang="be">Alarm reminder</name>
    <description lang="be">Alarm reminder like in previous versions</description>
    <name lang="de">Alarm reminder</name>
    <description lang="de">Alarm reminder like in previous versions</description>
    <name lang="en">Alarm reminder</name>
    <description lang="en">Alarm reminder like in previous versions</description>
    <name lang="fr">Alarm reminder</name>
    <description lang="fr">Alarm reminder like in previous versions</description>

  <files>
  	<file path="lib/reminder-alarm.jar"/>
  </files>
</plugin>
