Source: freeguide
Section: misc
Priority: optional
Maintainer: Daniel Watkins <daniel@daniel-watkins.co.uk>
Build-Depends: debhelper (>= 5.0), dpatch, ant
Build-Depends-Indep: openjdk-6-jdk | java2-sdk, ant-optional
Standards-Version: 3.8.0
Homepage: http://www.artificialworlds.net/freeguide/Main/HomePage

Package: freeguide
Architecture: all
Depends: xmltv-gui, openjdk-6-jre | java2-runtime, openjdk-6-jre-headless |
 java-virtual-machine, ${misc:Depends}
Recommends: xmltv-util
Description: offline TV programme guide
 Freeguide allows you to find programmes you are interested in quickly, and
 ignore the rest. It uses XMLTV to extract online listings information and
 stores it for off-line browsing viewing. The user can mark favourite
 programmes and create a customised TV guide. It works for British, American,
 Canadian, German, Swedish, Norwegian, and New Zealand listings.
