#!/usr/bin/make -f

include /usr/share/dpatch/dpatch.make

build: build-stamp
build-stamp: patch
	ant
	touch $@

install: build
	dh_prep
	ant -Dinstall_share_dir=install-bin/linux/debian/tmp/usr/share \
	    -Dinstall_bin_dir=install-bin/linux/debian/tmp/usr/bin \
	    -Dinstall_real_dir=/usr/share/freeguide \
	    -Dinstall_real_doc_dir=/usr/share/doc/freeguide \
	    install
	mkdir -p install-bin/linux/debian/tmp/usr/share/doc/freeguide
	cp install/linux/debian/freeguide.xpm \
	    install-bin/linux/debian/tmp/usr/share/pixmaps/

clean: unpatch
	rm -f build-stamp
	ant clean
	dh_clean

binary-indep: install
	dh_install -i --sourcedir=install-bin/linux/debian/tmp
	dh_installchangelogs -i
	dh_installdocs -i
	dh_installman -i
	dh_installmenu -i
	dh_installdeb -i
	dh_compress -i
	dh_fixperms -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch:

binary: binary-indep

.PHONY: build clean install binary-indep binary-arch binary
