<?xml version="1.0" encoding="UTF-8"?>

<plugin id="other-xmltvexe"
        version="0.5.41">

  <name lang="en">XMLTV for Windows</name>
  <description lang="en">XMLTV for Windows execution from http://alpha-exe.xmltv.org/</description>

  <files>
    <file path="xmltv/xmltv.exe"/>
    <file path="xmltv/"/>
  </files>
</plugin>
