h1 {
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: x-large;
}
h2 {
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: large;
}
h3 {
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: medium;
}
h4 {
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: small;
}

body {
	font-family: arial, sans-serif;
	font-size: small;
}

p {
	font-family: arial, sans-serif;
	font-size: small;
}

li {
	font-family: arial, sans-serif;
	font-size: small;
}

address {
	font-family: arial, sans-serif;
	font-size: x-small;		
}
address.backlink {
	
}
td.form_question {
    text-align: right;
}
td.form_answer {
    
}
td.form_notes {
    font-size: small;
}
td.form_submit {
    text-align: center;
}
input.form_answer {
    width: 100%;
}

