h1 {
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: x-large;
}
h2 {
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: large;
}
h3 {
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: medium;
}
h4 {
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: small;
}

body {
	font-family: arial, sans-serif;
	font-size: normal;
	padding:0px;
	margin: 10px;
}

p {
	font-family: arial, sans-serif;
	font-size: normal;
}

li {
	font-family: arial, sans-serif;
	font-size: normal;
}

address {
	font-family: arial, sans-serif;
	font-size: x-small;
}
address.backlink {
	
}
td.form_question {
    text-align: right;
    font-size: medium;
}
td.form_answer {
    
}
td.form_notes {
    font-size: small;
}
td.form_submit {
    text-align: center;
}
input.form_answer {
    width: 100%;
}

div.navigation {
    margin: -10px;
    padding: 5px;
    margin-bottom: 5px;
    background-color:#6d94ff;
    color:#6d94ff;
}
div.navigation a {
    color:white;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 5px;
    border: 1px solid #bcceff;
}
div.navigation a:hover, div.navigation a.active {
/*    text-decoration: underline;*/
    background-color: #bcceff;
    padding-bottom: 5px;
    border: 1px solid #bcceff;
}

div.navheader {
    border-bottom: 1px solid #6d94ff;
    background-color: #bcceff;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin: -10px;
    margin-top: -5px;
}

div.navheader a {
    border: 1px solid transparent;
    padding-left: 2px;
    padding-right: 2px;
    padding-right: 2px;
    text-decoration: none;
    color: #6d94ff;
}
div.navheader a:hover {
    background-color: #6d94ff;
    color: white;
}

div.sourceforgelogo {
    margin-top:1px;
    margin-right: -9px;
}

div.navfooter {
    border-top: 1px solid #6d94ff;
    border-bottom: 1px solid #6d94ff;
    background-color: #bcceff;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin: -10px;
    margin-top: 10px;
}

h1,h2,h3,h4,h5,h6 {
    background-color: #e1e9ff;
    border-top: 2px solid #6d94ff;
    padding-top: 2px;
    margin-left: -10px;
    padding-left: 10px;
    margin-right: -10px;
    padding-right: 10px;
}