<?xml version="1.0" encoding="UTF-8"?>

<plugin id="program-freeguide"
        version="0.10.6"
        class="freeguide.plugins.program.freeguide.viewer.MainController">

  <files>
    <file path="doc/ls-docs"/>
    <file path="doc/contact.html"/>
    <file path="doc/downinst.html"/>
    <file path="doc/downinst.linux.html"/>
    <file path="doc/downinst.macos.html"/>
    <file path="doc/help.html"/>
    <file path="doc/license.html"/>
    <file path="doc/sflogo.png"/>
    <file path="doc/toc.html"/>
    <file path="doc/userguide.features.html"/>
    <file path="doc/userguide.look_and_feel.html"/>
    <file path="doc/userguide.choosing_channels.html"/>
    <file path="doc/userguide.mainscreen.html"/>
    <file path="doc/userguide.html"/>
    <file path="doc/timezone.html"/>
    <file path="doc/stylesheet.css"/>
    <file path="doc/index.html"/>
    <file path="doc/developers.html"/>
    <file path="doc/developers-translating.html"/>
    <file path="doc/developers-cvs.html"/>
    <file path="doc/developers-compiling.html"/>
    <file path="doc/design.html"/>
    <file path="doc/contributors.html"/>
    <file path="doc/TODO"/>
    <file path="doc/README.html"/>
    <file path="doc/LookAndFeel.html"/>
    <file path="doc/INSTALL-linux-noxmltv.html"/>
    <file path="doc/FreeGuide-0_7-Linux-MetalLookAndFeel.png"/>
    <file path="doc/FAQ.html"/>
    <file path="doc/COPYING"/>
    <file path="doc/"/>
    <file path="startup.jar"/>
    <file path="lib/common.jar"/>
    <file path="lib/program-freeguide.jar"/>
    <file path="lib/"/>
  </files>
</plugin>
