<?xml version="1.0" encoding="UTF-8"?>

<plugin id="impexp-palmatv"
        version="2"
        class="freeguide.plugins.importexport.palmatv.ExportPalmAtv">

  <name lang="en">ATV-palm</name>
  <description lang="en">Export to ATV for Palm OS. See http://zaval.org/products/atv</description>
  <name lang="fr">ATV-palm</name>
  <description lang="fr">Module d'export vers ATV pour Palm OS. (http://zaval.org/products/atv)</description>

  <files>
    <file path="lib/impexp-palmatv.jar"/>
    <file path="lib/"/>
  </files>
</plugin>
