<?xml version="1.0" encoding="UTF-8"?>

<plugin id="importexport-html"
        version="1"
        class="freeguide.plugins.importexport.html.ExportHTML">

  <name lang="en">HTML</name>
  <description lang="en">HTML export</description>

  <files>
    <file path="lib/importexport-html.jar"/>
    <file path="lib/"/>
  </files>
</plugin>
