<?xml version="1.0" encoding="UTF-8"?>

<plugin id="storage-serfiles"
        version="0.1"
        class="freeguide.plugins.storage.serfiles.StorageSerFilesByDay">

  <name lang="en">Serialized</name>
  <description lang="en">Store data in serialized files</description>

  <files>
    <file path="lib/storage-serfiles.jar"/>
    <file path="lib/"/>
  </files>
</plugin>
