<?xml version="1.0" encoding="UTF-8"?>

<plugin id="impexp-jtv"
        version="2"
        class="freeguide.plugins.importexport.jtv.JTV">

  <name lang="en">JTV</name>
  <description lang="en">JTV import/export module (http://jtvhost.chat.ru)</description>
  <name lang="fr">JTV</name>
  <description lang="fr">Module d'import/export pour JTV (http://jtvhost.chat.ru)</description>

  <files>
    <file path="lib/impexp-jtv.jar"/>
    <file path="lib/"/>
  </files>
</plugin>
